---
import Layout from '../layouts/Layout.astro';
---

<Layout
	description="Privacy policy for Water Me Android app"
	title="Privacy policy"
>
  <section class="max-w-none prose tablet:prose-xl text-left">
    <h1>Privacy policy</h1>
    <p>Water me respects the EU's General Data Protection Regulations (GDPR) and this policy explains that it does not collect or process any of your information.</p>
    <p>Camera access is only used for plant image taking.</p>
  </section>
</Layout>
