---
import TheFooterLink from './TheFooterLink.astro';
import borderImage from '../images/footer-border-t.svg';

const privacyURL = `${import.meta.env.BASE_URL}/privacy-policy`
const border = `url("${borderImage.src}")`
---

<footer class="bg-clip-padding border-b-transparent max-w-full mt-auto mx-auto pb-6 px-heading w-full">
  <div class="flex flex-col-reverse tablet:flex-row flex-wrap max-tablet:gap-y-6 max-w-content mx-auto pt-16 tablet:pt-25 px-heading">
    <p class="footer-element">&copy; 2023 Andrin Bertschi, all rights reserved</p>

    <ul class="flex footer-element gap-4 grow justify-center tablet:justify-end shrink text-sm laptop:text-base max-tablet:text-center">
      <TheFooterLink
        href={privacyURL}
        text="Privacy policy"
        title="Check the privacy policy"
      />
    </ul>
  </div>
</footer>

<style define:vars={{ border }}>
  footer {
    border-image-slice: 68 0 0;
    border-image-source: var(--border);
    border-top-width: 4.25rem;
  }
</style>
