@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply max-w-full mx-auto py-12 tablet:py-16 px-heading w-full;
  }

  section.section-primary {
    @apply bg-primary flex items-center justify-center text-white;
  }

  section.section-border-b {
    border-image-slice: 0 0 74;
    border-image-source: var(--border-b);
    border-bottom-width: 4.625rem;

    @apply bg-clip-padding border-b-transparent;
  }

  section.section-border-t {
    border-image-slice: 86 0 0;
    border-image-source: var(--border-t);
    border-top-width: 5.375rem;

    @apply bg-clip-padding border-b-transparent;
  }

  footer.footer-border-t {
    @apply max-w-full mx-auto pb-6 px-heading w-full;

    border-image-slice: 68 0 0;
    border-image-source: var(--border-t);
    border-top-width: 4.25rem;

    @apply bg-clip-padding border-b-transparent;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-center w-full;
  }

  h1 {
    @apply my-4 tablet:my-8 text-4xl tablet:text-5xl laptop:text-6xl;
  }

  h2 {
    @apply mb-3 mt-2 text-3.5xl desktop:text-4.25xl;
  }

  p {
    @apply font-light mb-2 tablet:mb-3 tablet:text-lg laptop:text-xl;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer flex font-bold h-9 tablet:h-11 items-center justify-center leading-snug px-4 rounded-3xl shadow-md text-center text-sm tablet:text-base uppercase;
  }

  .btn.btn-primary {
    @apply bg-primary focus:brightness-150 hover:brightness-150 text-white;
  }

  .btn.btn-secondary {
    @apply bg-secondary focus:opacity-75 hover:opacity-75 text-primary;
  }

  .feature-card {
    @apply max-w-xs relative w-full;
  }

  .feature-pill {
    @apply absolute font-medium px-4 py-2 rounded-md shadow-md text-sm;
  }

  .footer-element {
    @apply basis-1/2 grow shrink text-sm laptop:text-base max-tablet:text-center;
  }

  .footer-element a {
    @apply font-light focus:underline hover:underline;
  }
}
